@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

@import "tailwindcss";

*{
    scroll-behavior: smooth;
    
}

html,
body,
#root {
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
}


@theme{
    --font-roboto:Roboto,"sans-serif"
}